* {
    margin: 0;
    padding: 0;
}
.chela-one-regular {
  font-family: "Chela One", system-ui;
  font-weight: 100;
  font-style: normal;
}
body {
    font-family: "Chela One";
    box-sizing: border-box;
    background-color: #f7fafc;
    color: white;
}
button {
    font-family: "Chela One";
    color: hsla(0, 1%, 38%, 0.906);
    border: 2px solid #1C1C1C;
    border-radius: 30px;
    width: 10%;
    padding: 4px;
    font-size: 20px;
    background-color: white;
}
.escrever {
    background-color: white;
    border-radius: 30px;
    color: hsl(214, 74%, 20%);
    font-family: "Chela One";
    border: 2px solid #1C1C1C;
    width: 60%;
    padding: 2px;
    font-size: 140%;
}
section {
    margin: 2%;
}
main {
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.943);
    margin: 10%;
    border-radius: 15px;
    max-width: 100%;
    overflow: auto;
    overflow-y: auto;
    overflow-x: hidden;
    justify-content: space-between;
}
strong {
    font-size: 25px; 
    margin-left: 14px;
}
.lita {
    padding: 3%;
    font-size: 160%;
}
.gerenciador {
    text-align: center;
    padding: 4%;
    font-size:60px;
}
header {
    background-color: #0e0f0fe9;
    padding: 1%;
    display: flex;
    justify-content: space-between;
}
::placeholder {
    padding: 10px;
    align-items: center;
}
.conta {
    font-family: "Chela One";
    padding: 4%;
    border-radius: 10px;
    border: 2px solid #1C1C1C;
    font-size: 30px;
    width: 80px;
    background-color: white;
}
.titulu {
    font-size: 40px;
    display: flex;
    color: white;
}
h2 {
    text-align: center;
    font-size: 40px;
    margin-top: 2%;
}
.separador {
    gap: 10px; 
}